<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Events</h1>
    </header>
    <section id="events">
      <h2>Events in Action</h2>
      <button v-on:click="increeement(10)">Add</button>
      <button v-on:click.right="decreement(5)">Remove</button>

      <!-- Preserving Initial state we use v-once -->
      <p v-once>Starting counter: {{ counter }}</p>
      <p>Result: {{ counter }}</p>
      <!-- <input
        type="text"
        v-bind:value="name"
        v-on:input="setName($event, 'Mukuna')"
        v-on:keyup.enter="confirmInput"
      /> -->
      <!-- Another way to set input and reset input  v-model="name" is =  v-bind:value="name"
        v-on:input="setName($event, 'Mukuna')" this cocept it call two way bunding-->
      <input type="text" v-model="name" />
      <input type="text" v-model="lastname" />
      <button v-on:click="resetInput">Reset Input Field</button>
      <p>Your Name: {{ fullName }}</p>
      <!-- Event Modifier, the .prevent after the vue.js directive v-on:submit will prevent the browser to reload when form it submit   -->
      <form v-on:submit.prevent="submitForm">
        <input type="text" />
        <button>UpdateText</button>
      </form>
    </section>
  </body>
</html>


<!-- Short end to write all directive such as 
- v-on:click can be writen @click
- v-bind:value="...." = :value -->